.main {
    width:100%;
    min-height: 100vh;
}
.gnb {
    width: 100%;
    min-height: 6rem;
}
.index{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 26px;
}